@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css';

body{
    margin: 0;
    padding: 0;
}

.container{
    margin: auto;
    display: flex;
}

.photos{
    flex: 0 0 80%;
    display: flex;
    flex-wrap: wrap;
}

.photo{
    width: 400px;
    margin: 1em;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: #f0f0f0;
}

img{
    border-radius: .25em .25em 0 0;
}

.photo-content{
  position: relative;
  padding: 1em;
}

.photo-description{
  padding-top:.25em;
}

i{
    position: absolute;
    padding: .5em;
    top:0;
    right: 0;
    color: firebrick;
}

.add-photo{
    flex: 0 0 10%;
    padding: 2em;
    box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.2);
    background: #f0f0f0;
}

label, input{
    display: block;
}

label{
    padding-bottom: .5em;
}

button{
    display: block;
    border-radius: 5em;
    background-color: forestgreen;
    border: 1px white solid;
    padding: .5em 1em;
    float: right;
    outline: none;
    color: white;
}

.form-control{
    border-radius: 5em;
    border: 1px black solid;
    padding: .5em 1em;
    outline: none;
}

.form-group{
    padding-bottom: 1em;
}

